@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  color: white; }
  header nav {
    background-image: linear-gradient(to bottom, black, #424246);
    width: 100%;
    height: 100px; }
    header nav .navbar-brand {
      width: 25%; }
      header nav .navbar-brand .logoindex {
        width: 60%; }
    header nav .navbar-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; }
      header nav .navbar-nav .nav-item {
        width: 100%;
        height: 50px;
        font-size: 30px; }

a {
  text-decoration: none; }

img {
  width: 30%;
  height: 100%; }

footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  footer span {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px; }
    footer span .face {
      position: relative; }
      footer span .face .LogoFace {
        width: 40px;
        height: 40px; }
    footer span .LogoInsta {
      width: 50px;
      height: 50px; }

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  justify-content: space-evenly;
  text-align: center;
  align-items: center; }

li {
  width: 100%;
  height: 50px;
  font-size: 30px; }

.main {
  background-image: url("../img/Fondo.jpeg");
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  width: 100%; }
  .main .tituloServicio {
    color: black;
    font-size: 40px; }
  .main .mainImg {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
  .main #CuadroEventos .eventos {
    width: 110%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    opacity: 70%; }

.titulo, .galeria .tituloGaleria {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60px;
  font-size: 40px;
  color: black; }

img:hover {
  transform: scale(1.2, 1.2); }

.contacto {
  background-image: url(../img/Fondo.jpeg);
  color: white;
  display: flex;
  flex-direction: column;
  height: 1000px; }
  .contacto form {
    height: 80%;
    width: 90%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5%;
    top: 60px;
    align-content: center;
    background-color: black;
    opacity: 70%; }
    .contacto form #Descripción {
      height: 20%; }
    .contacto form .btn {
      margin-top: 20px;
      font-size: 20px;
      width: 20%; }

.ayuda {
  height: 600px;
  width: 100%;
  background-image: url(../img/Fondo.jpeg);
  color: white; }
  .ayuda #preguntas {
    width: 600px;
    height: 400px;
    position: relative;
    top: 120px;
    font-size: 20px;
    background-color: black;
    opacity: 70%; }

.galeria {
  background-color: black;
  color: white;
  height: 1200px;
  width: 100%; }
  .galeria .tituloGaleria {
    position: relative;
    top: 60px;
    color: white; }
  .galeria .imagenes {
    margin-top: 450px;
    height: 780px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px 500px;
    column-gap: 2%;
    justify-items: center;
    align-items: center;
    align-content: center; }
    .galeria .imagenes .img {
      height: 80%;
      width: 100%; }

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    width: 100%;
    height: 300px;
    color: white; }
    header .navbar {
      width: 100%;
      height: 300px; }
      header .navbar #navbarSupportedContent {
        height: 200px; }
        header .navbar #navbarSupportedContent .navbar-nav {
          list-style: none;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          justify-content: space-evenly;
          text-align: center;
          align-items: center; }
          header .navbar #navbarSupportedContent .navbar-nav .nav-item {
            width: 100%;
            height: 20px;
            font-size: 40px; }
  img {
    width: 100%;
    height: 100%; }
  .main {
    background-image: url("../img/Fondo.jpeg");
    background-repeat: cover;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 75;
    grid-template-areas: "h1" "img";
    justify-items: center;
    align-items: center;
    height: 1500px;
    width: 100%; }
    .main .mainImg {
      grid-area: img;
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
  #Serv {
    height: 500px; }
    #Serv .eventos {
      width: 110%;
      height: 400px;
      display: flex;
      flex-direction: column;
      color: white;
      background-color: black;
      opacity: 70%; }
  .titulo, .galeria .tituloGaleria {
    display: grid;
    grid-area: h1;
    justify-items: center;
    align-items: center;
    font-size: 40px; }
  .fotos {
    width: 100%;
    height: 300px; }
  .galeria {
    background-color: black;
    color: white;
    height: 1600px;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 95%;
    grid-template-areas: "h1" "img"; }
    .galeria .tituloGaleria {
      grid-area: h1;
      position: relative;
      top: 20px; }
    .galeria .imagenes {
      grid-area: img;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px; }
      .galeria .imagenes .img {
        height: 30%;
        width: 100%; }
  .contacto form {
    height: 75%;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0px;
    top: 10%;
    align-content: center;
    background-color: black;
    opacity: 70%; }
    .contacto form #Descripción {
      width: 70vw; }
    .contacto form #Nombre {
      width: 70vw; }
    .contacto form #Telefono {
      width: 70vw; }
    .contacto form #Email {
      width: 70vw; }
    .contacto form #Evento {
      width: 70vw; }
    .contacto form .btn {
      width: 40vw; }
  .ayuda {
    height: 800px; }
    .ayuda #preguntas {
      width: 80vw; } }
