*{  margin: 0px;
    padding: 0px;}

$anchoTotal: 100%;
$colorLetra:white;
$colorFondo: black;

header{
    display: flex;
    flex-direction: row;
    width:$anchoTotal;
    height:100px;
    color: $colorLetra;

       nav{
        background-image: linear-gradient(to bottom, rgb(0, 0, 0),rgb(66, 66, 70) );
        width: $anchoTotal;
        height: 100px;

            .navbar-brand{
            width: 25%;

                .logoindex{
                width: 60%;
                }
            }

            .navbar-nav{
            display: flex;
            justify-content: center;
            align-items: center;
            width: $anchoTotal;

                .nav-item{
                width: $anchoTotal;
                height:50px;
                font-size: 30px;
                }

            
            }
        }
    }    

a{
    text-decoration: none;
}

img{
    width: 30%;
    height: 100%;
}

footer{
    background-color: $colorFondo;
    color: $colorLetra;
    width: $anchoTotal;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    span{
        display: flex;
        flex-direction: row;
        
        .face{
            display: flex;
            justify-content: flex-end;
        }
    }
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: $anchoTotal;
    height: 100px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    }

li{
    width: $anchoTotal;
    height:50px;
    font-size: 30px;
    }

@mixin estiloTitulo ($colorLetra, $tamanioLetra){
    color: $colorLetra;
    font-size: $tamanioLetra;
}

.main{
    background-image:url("../img/Fondo.jpeg");
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    width: $anchoTotal;

        .tituloServicio{
            @include estiloTitulo (black, 40px)

        }

        .mainImg{
        width: $anchoTotal;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        }

        .eventos{
            display: flex;
            flex-direction: column;
            color: white;
            }
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    font-size: 40px;
}

img:hover{
    transform: scale(1.2,1.2);
}

.contacto{
    background-color: $colorFondo;
    color: $colorLetra;
    display: flex;
    flex-direction: column;

        form{
        height: 800px;
        width: $anchoTotal;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        position: relative;
        left: 20px;
        top: 30px;
        align-content: center;

            #Descripción{
            height: 20%;
            }

            .btn{
            font-size: 20px;
            width: 10%;
            }
        }
}

.ayuda{height: 600px;
    width: $anchoTotal;
    background-color: $colorFondo;
    color: $colorLetra;

        #preguntas{
        width: 600px;
        height: 100%;
        position: relative;
        top: 70px;
        font-size: 20px;
        }
}

.galeria{background-color: $colorFondo;
    color: $colorLetra;
    height: 1000px;
    width: $anchoTotal;

        .tituloGaleria{
            @extend .titulo;
        }

        .imagenes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 500px 500px 500px;
        column-gap: 2%;
        justify-items: center;
        align-items: center;
        align-content: center;

            .img{
            height: 80%;
            width: $anchoTotal;
            }
        }
}

@media only screen and (max-width:600px){
    header{
        display: flex;
        width: $anchoTotal;
        height:200px;
        color: $colorLetra;

            .navbar{
            width: $anchoTotal;
            height: 100%;

                .navbar-nav{
                list-style: none;
                display: flex;
                flex-direction: column;
                width: $anchoTotal;
                height: 100%;
                justify-content: space-evenly;
                text-align: center;
                align-items: center;

                    .nav-item{
                    width: $anchoTotal;
                    height:20px;
                    font-size: 20px;
                    }
                }
            }      
        }
  

     img{
        width: $anchoTotal;
        height: 100%;
        }

    .main{
        background-image:url("../img/Fondo.jpeg");
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 75;
        grid-template-areas: "h1"
                             "img";
        justify-items: center;
        align-items: center;
        height: 1000px;
        width: $anchoTotal;

        .mainImg{
            grid-area: img;
            width: $anchoTotal;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            }
    }

    .titulo{
        display: grid;
        grid-area: h1;
        justify-items: center;
        align-items: center;
        font-size: 40px;
        }



    .fotos{
        width: $anchoTotal;
        height: 300px;
        }

    .galeria{
        background-color: $colorFondo;
        color: $colorLetra;
        height: 2600px;
        width: $anchoTotal;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% 95%;
        grid-template-areas:"h1"
                            "img";

                        .tituloGaleria{
                        grid-area: h1;
                        position: relative;
                        top:0px;
                        }

                        .imagenes{
                        grid-area: img;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                            .img{
                            height: 30%;
                            width: 100%;
                            }
                        }
                                
        }




    

}
